
.page_start {
	div {
		font-weight: 700;
		text-transform: uppercase;
	}
}


.page_timer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 18px;
}
.timer_upper {
	font-size: 1.5rem;
	line-height: 1.5rem;
	margin-bottom: 3px;
}
.timer_time {
	font-size: 4rem;
	line-height: 4rem;
}
.page_start__message {
	font-size: 1.6rem;
	line-height: 2.3rem;
	text-align: center;
}


