
.page_hint__hint {
    text-align: center;
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 2rem;
    text-transform: uppercase;
}
.page_hint__back {
	a {
		text-decoration: none;
	}
}
